<!doctype html>
<html lang="en">
    
    <head>
    <meta charset="UTF-8">
    <title>Eits</title>

    <script src="eits.js"></script>

    </head>

    <body>

        <div ng-app ng-controller="EitDetailsController as details">
            
            <div>
            First Name: <input type="string" ng-model="details.first_name">
            </div>
            
            <div>
            Last Name: <input type="string" ng-model="details.last_name">
            </div>

            <div>
            Date of Birth: <input type="date" ng-model="details.date_of_birth">
            </div>

            <div>
                Gender:
                <form>
                    <label>
                    Female <input type="radio" value="Female" ng-model="details.gender">
                    </label><br>
                    <label>
                    Male <input type="radio" value="Male" ng-model="details.gender">
                    </label>
                </form>
            </div>

            <div>
                <b>Eit Details: </b><br>
                Name: {{details.name}}<br>
                Gender: {{details.gender}}<br>
                Date of Birth: {{details.date_of_birth | date}}<br>
                Age: {{details.age}}
            </div>
        </div>

    </body>
</html>