<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example - example-guide-concepts-2-production</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="app_service.js"></script>
    <style>
        .column {
            float: left;
            width: 33.33%;
        }
    </style>

</head>

<body>
    
    <div ng-app="eitApp">
    <div class="column" ng-controller="listAllEit as allEitsCtrl">
        <div>
            <b>EIT List</b>
            <span ng-repeat='(key,value) in allEitsCtrl.listEits()'><br>{{value.firstName}} {{value.lastName}}</span>
        </div>
    </div>
    <div class="column" ng-controller="eitDetails as eitDetailsCtrl" >
        <div>
            <b>EIT Details  </b>
            <span ng-repeat='(key,value) in eitDetailsCtrl.getEitDetails()'><br>{{key}}</span>
        </div>
    </div>
    <div class="column" ng-controller="EitController as ctrl">
        <b>EIT:</b>
        <div>
        Given Names:
        <input type="text" ng-model="ctrl.firstName" placeholder="first names">
        </div>
        <div>
        Last Name:
        <input type="text" ng-model="ctrl.lastName" placeholder="last name">
        </div>
        <div>
        Date of Birth:
        <input type="date" ng-model="ctrl.dob">
        </div>
        <div>
        Gender:
        <form>
            <label><input type="radio" value="Male" ng-model="ctrl.gender">male</label>
            <label><input type="radio" value="Female" ng-model="ctrl.gender">female</label>
            <label><input type="radio" value="Other" ng-model="ctrl.gender">other</label>
        </form>
        </div>
        <div>
            <input type="button" value="Submit" ng-click="ctrl.newEit()">
        </div>
    </div>
  </div>
</body>
</html>